footer {

    div {

        display: flex;
        justify-content: center;
        align-items: center;  
        
    }
    p{
        color: red;
        text-align: center;

        
      
        
        
                }

}